:root {
  --color-a: rgb(194, 198, 197);
  --color-a-70: rgba(194, 198, 197, 0.7);
  --color-a-lighter: rgb(208, 219, 218);
  --color-a-darker: rgb(170, 179, 181);
  --color-a-alt: rgb(180, 189, 188);
  --color-b: rgb(178, 48, 74);
  --color-b-darker: rgb(131, 27, 65);
  --color-c: rgb(62, 97, 204);
  --color-c-darker: rgb(52, 59, 149);
  --text-color: rgb(51, 51, 51);
  --text-color-alt: rgb(15, 15, 15);
  --background-color: rgb(237, 244, 243);
  --background-color-alt: rgb(225, 235, 235);
  --background-color-alt-darker: rgb(213, 227, 232);
}
