@import url("../fonts/lora/lora.css");
@import url("../fonts/inter/inter.css");

:root {
  --content-max-width: 60rem;

  --serif-font-stack: Lora, serif;
  --sans-serif-font-stack: Inter, sans-serif;

  /* Sync with <meta name="theme-color" /> */
  --color-a: rgb(194, 198, 197);
  --color-a-70: rgba(194, 198, 197, 0.6);
  --color-a-lighter: rgb(221, 226, 226);
  --color-a-darker: rgb(170, 179, 181);
  --color-a-alt: rgb(180, 189, 188);
  --color-b: rgb(168, 78, 78);
  --color-b-darker: rgb(128, 47, 62);
  --color-c: rgb(62, 97, 204);
  --color-c-darker: rgb(52, 59, 149);
  --text-color: rgb(51, 51, 51);
  --text-color-alt: rgb(15, 15, 15);
  --background-color: rgb(243, 249, 249);
  --background-color-alt: rgb(225, 235, 235);
}
