@import url("./config.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --content-padding: 2rem;
  --page-background: url("../img/footer-bg.png") center calc(100% + 530px) /
      auto 700px no-repeat,
    linear-gradient(
        to bottom,
        var(--color-a),
        var(--color-a) 2.5rem,
        var(--background-color) 2.5rem,
        var(--background-color) 70%,
        var(--background-color-alt)
      )
      fixed;
  min-width: 320px;
  min-height: 100dvh;
  background: var(--page-background);
  color: var(--text-color);
  font-family: var(--sans-serif-font-stack);
  line-height: 1.5;
}
@media (max-width: 767px) {
  html {
    --content-padding: 1rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font-stack);
  text-wrap: balance;
  color: var(--text-color-alt);
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
  font-weight: normal;
}
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 1.7em;
  }
}

a {
  color: var(--color-c);
  transition: color 0.2s;
}
a:hover {
  color: var(--color-c-darker);
}
a.highlight {
  color: var(--color-b);
}
a.highlight:hover {
  color: var(--color-b-darker);
}

.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-a-60);
  backdrop-filter: blur(1rem);
  z-index: 1;
}
@media (max-width: 767px) {
  .main-nav {
    font-size: 0.8em;
  }
}
.main-nav .inner {
  display: flex;
  align-items: center;
  justify-content: safe center;
  padding: 0 var(--content-padding);
  margin: 0 auto;
  width: var(--content-max-width);
  max-width: 100%;
  list-style: none;
  line-height: 2.5rem;
}
.main-nav .icon img {
  display: block;
  height: 1.8em;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: var(--color-a-lighter);
}
.main-nav .inner li.current {
  font-weight: bold;
}
.main-nav .inner li a {
  display: block;
  padding: 0 0.8em;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-nav .inner li a:hover,
.main-nav .inner li a:focus {
  background-color: var(--color-a-darker);
}

@keyframes hero-banner-entrance {
  from {
    opacity: 0;
    transform: translateY(-0.5em);
  }
}
.hero-banner {
  border-bottom: 0.2em solid var(--color-a-alt);
  background:
    linear-gradient(to bottom, var(--color-a), transparent 5em),
    radial-gradient(ellipse at bottom, var(--color-a-alt), transparent),
    url("../img/hero-bg.jpg") left center / cover;
  font-family: var(--serif-font-stack);
  animation: var(--entrance-animation-duration) backwards hero-banner-entrance;
}
.hero-banner .inner {
  display: grid;
  position: relative;
  padding: 0 var(--content-padding);
  margin: 0 auto;
  width: var(--content-max-width);
  max-width: 100%;
}
@media (max-width: 767px) {
  .hero-banner .inner {
    grid-template-areas:
      "name"
      "intro"
      "links"
      "portrait";
    font-size: 0.9em;
  }
}
@media not (max-width: 767px) {
  .hero-banner .inner {
    grid-template-areas:
      "portrait ."
      "portrait name"
      "portrait intro"
      "portrait links"
      "portrait .";
    column-gap: 1em;
    justify-content: safe center;
    align-content: center;
  }
}
.hero-banner .portrait {
  grid-area: portrait;
  align-self: end;
  max-height: 18em;
}
@media (max-width: 767px) {
  .hero-banner .portrait {
    justify-self: center;
    height: 12em;
  }
}
@media not (max-width: 767px) {
  .hero-banner .portrait {
    margin: 0 2.5em;
  }
}
.hero-banner .name {
  grid-area: name;
  padding-top: var(--content-padding);
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
}
.hero-banner .intro {
  grid-area: intro;
  margin: 0.8em 0;
  font-size: 1.2em;
  text-wrap: balance;
}
.hero-banner .button-links {
  --button-icon-size: 24px;
  padding-bottom: var(--content-padding);
}
@media (max-width: 767px) {
  .hero-banner .button-links {
    justify-content: safe center;
  }
}

.main-content {
  display: grid;
  flex: 1;
}
@media (max-width: 767px) {
  .main-content {
    grid-template-areas:
      "nav"
      "content";
    grid-template-rows: auto 1fr;
  }
}
@media not (max-width: 767px) {
  .main-content {
    grid-template-areas:
      "content nav"
      "content .";
    grid-template-columns: 1fr 30%;
    margin: 0 auto;
    width: var(--content-max-width);
    max-width: 100%;
  }
}
@keyframes side-nav-entrance {
  from {
    opacity: 0;
    transform: translateX(-0.5em);
  }
}
.main-content .side-nav {
  grid-area: nav;
  padding: 0 var(--content-padding);
  background: var(--background-color);
  line-height: 1.2;
  animation: var(--entrance-animation-duration) backwards side-nav-entrance;
}
@media (max-width: 767px) {
  .main-content .side-nav {
    padding: var(--content-padding);
    padding-left: 2.5em;
    background: var(--color-a-lighter);
    font-size: 0.9em;
  }
}
@media not (max-width: 767px) {
  .main-content .side-nav {
    position: sticky;
    top: 4.5rem;
    border-left: 0.1em solid var(--color-a-alt);
  }
}
.main-content .side-nav ol li {
  margin: 0.5em 0;
}
.main-content .side-nav ol li a:not(:hover) {
  text-decoration: none;
}
.main-content .inner {
  padding: var(--content-padding);
  grid-area: content;
}
.main-content .inner .back {
  margin: 0;
  font-weight: bold;
}
.main-content .inner .back a:not(:hover) {
  text-decoration: none;
}
.main-content .inner h1 {
  margin-bottom: 1em;
}
.main-content .inner h2 {
  /* Hack for main navigation not to cover titles for # urls */
  padding-top: 3.5rem;
  margin-top: -3.5rem;
}
.main-content .inner h3 {
  margin: 0.5em 0;
}
.main-content .inner p,
.main-content .inner > ul,
.main-content .inner > ol {
  margin: 1em 0;
}
.main-content .inner ul:not(.button-links),
.main-content .inner ol:not(.button-links) {
  margin-left: 2em;
}
.main-content .inner hr {
  height: 0.1em;
  margin: 2em 0;
  border: none;
}
.main-content .inner hr::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--color-a-alt);
  z-index: -1;
}
.main-content .inner img {
  max-width: 100%;
}

.button-links {
  --_button-color: var(--button-color, var(--color-a-lighter));
  --_button-icon-size: var(--button-icon-size, 20px);
  display: flex;
  gap: calc(var(--_button-icon-size) * 0.25);
  grid-area: links;
  list-style: none;
}
.button-links li a {
  display: block;
  border-radius: 50%;
  padding: 0.4em;
  background-color: var(--_button-color);
}
.button-links li a img {
  display: block;
  width: var(--_button-icon-size);
  height: var(--_button-icon-size);
  opacity: 0.7;
  transition: opacity 0.2s;
}
.button-links li a:hover img {
  opacity: 1;
}
.button-links li.highlight a {
  background-color: var(--color-b);
}
.button-links li.highlight a img {
  filter: invert(100%);
}

.publication-list,
.teaching-list {
  line-height: 1.2;
}
.publication-list > li,
.teaching-list > li {
  display: grid;
  row-gap: 0.2em;
  column-gap: 1em;
  position: relative;
  margin: 0.5em 0;
}
.publication-list > li {
  grid-template-areas:
    "title title"
    "authors links"
    "periodical links";
  grid-template-columns: 1fr auto;
}
.teaching-list > li {
  grid-template-areas:
    "type type"
    "title links"
    "date links";
  grid-template-columns: 1fr auto;
}
.publication-list > li::before,
.teaching-list > li::before {
  content: "•";
  position: absolute;
  top: 0;
  left: -1em;
}
.publication-list > li .title,
.teaching-list > li .title {
  grid-area: title;
  font-weight: bold;
  text-wrap: pretty;
}
.publication-list > li .title a:not(:hover),
.teaching-list > li .title a:not(:hover) {
  text-decoration: none;
}
.publication-list > li .authors {
  grid-area: authors;
  font-style: italic;
  font-family: Lara, serif;
  text-wrap: pretty;
}
.publication-list > li .periodical {
  grid-area: periodical;
  font-size: 0.8em;
  opacity: 0.8;
}
.teaching-list > li .date {
  grid-area: date;
  font-style: italic;
  font-family: Lara, serif;
  text-wrap: pretty;
}
.teaching-list > li .type {
  grid-area: type;
  justify-self: start;
  padding-top: 0.2em;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color-alt);
}
.publication-list ul.button-links,
.teaching-list ul.button-links {
  --button-icon-size: 16px;
  grid-area: links;
  align-items: end;
}

.main-footer {
  clear: both;
}
.main-footer .inner {
  padding: 2em var(--content-padding);
  width: var(--content-max-width);
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  text-shadow: var(--background-color) 0 0.1em;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .main-footer .inner {
    font-size: 0.8em;
  }
}
.main-footer .inner * {
  display: inline;
}
.main-footer nav ul {
  list-style: none;
}
.main-footer nav li {
  margin-left: 0.5em;
}
.main-footer nav li a:hover {
  text-shadow: none;
}
.main-footer nav li a:not(:hover) {
  text-decoration: none;
}
