@import url("../fonts/lora/lora.css");
@import url("../fonts/inter/inter.css");
@import url("./colors.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --content-max-width: 60rem;
  --content-padding: 2rem;
  --page-background: linear-gradient(
      to bottom,
      var(--color-a),
      var(--color-a) 2.5rem,
      var(--background-color) 2.5rem,
      var(--background-color) 70%,
      var(--background-color-alt)
    )
    fixed;
  background: var(--page-background);
  color: var(--text-color);
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, serif;
  color: var(--text-color-alt);
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
  font-weight: normal;
}

a {
  color: var(--color-c);
  transition: color 0.2s;
}
a:hover {
  color: var(--color-c-darker);
}
a.highlight {
  color: var(--color-b);
}
a.highlight:hover {
  color: var(--color-b-darker);
}

.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-a-70);
  backdrop-filter: blur(1rem);
  z-index: 1;
}
.main-nav .inner {
  display: flex;
  align-items: center;
  justify-content: safe center;
  padding: 0 var(--content-padding);
  margin: 0 auto;
  max-width: var(--content-max-width);
  list-style: none;
  line-height: 2.5;
}
.main-nav .icon img {
  display: block;
  height: 1.8rem;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: var(--color-a-lighter);
}
.main-nav .inner li.current {
  font-weight: bold;
}
.main-nav .inner li a {
  display: block;
  padding: 0 0.8em;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-nav .inner li a:focus {
  background-color: var(--color-a-alt);
}
.main-nav .inner li a:hover {
  background-color: var(--color-a-darker);
}

.hero-banner {
  border-bottom: 0.2em solid var(--color-a-alt);
  background: linear-gradient(to bottom, var(--color-a), transparent 1em),
    radial-gradient(ellipse at bottom, var(--color-a-alt), var(--color-a));
  font-family: Lora, serif;
}
.hero-banner .inner {
  display: grid;
  grid-template-areas:
    "portrait ."
    "portrait name"
    "portrait intro"
    "portrait links"
    "portrait .";
  column-gap: 1em;
  justify-content: safe center;
  align-content: center;
  position: relative;
  padding: var(--content-padding);
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin: 0 auto;
  max-width: var(--content-max-width);
}
.hero-banner .portrait {
  grid-area: portrait;
  align-self: end;
  margin: 0 2.5em;
  max-height: 18em;
}
.hero-banner .name {
  grid-area: name;
  padding-top: var(--content-padding);
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
}
.hero-banner .intro {
  grid-area: intro;
  margin: 0.8em 0;
  font-size: 1.2em;
}
.hero-banner .button-links {
  padding-bottom: var(--content-padding);
}

.main-content {
  display: grid;
  grid-template-areas:
    "content nav"
    "content .";
  grid-template-columns: 1fr 30%;
  margin: 0 auto;
  max-width: var(--content-max-width);
}
.main-content .side-nav {
  position: sticky;
  top: 4.5rem;
  grid-area: nav;
  padding: 0 var(--content-padding);
  border-left: 0.1em solid var(--color-a-alt);
  line-height: 1.2;
  background: var(--page-background);
}
.main-content .side-nav ul {
  list-style: square;
}
.main-content .side-nav ul li {
  margin: 0.5em 0;
}
.main-content .inner {
  padding: var(--content-padding);
  grid-area: content;
}
.main-content .inner h1 {
  margin-bottom: 1em;
}
.main-content .inner h2 {
  /* Hack for main navigation not to cover titles for # urls */
  padding-top: 3.5rem;
  margin-top: -3.5rem;
}
.main-content .inner h3 {
  margin: 0.5em 0;
}
.main-content .inner p,
.main-content .inner > ul,
.main-content .inner > ol {
  margin: 1em 0;
}
.main-content .inner ul,
.main-content .inner ol {
  margin-left: 2em;
}
.main-content .inner hr {
  height: 0.1em;
  margin: 2em 0;
  border: none;
}
.main-content .inner hr::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--color-a-alt);
  z-index: -1;
}

.button-links {
  --_button-color: var(--button-color, var(--color-a-lighter));
  --_button-gap: var(--button-gap, 0.5em);
  --_button-icon-size: var(--button-icon-size, 24px);
  display: flex;
  gap: var(--_button-gap);
  grid-area: links;
  list-style: none;
}
.button-links li a {
  display: block;
  border-radius: 50%;
  padding: 0.4em;
  background-color: var(--_button-color);
}
.button-links li a img {
  display: block;
  width: var(--_button-icon-size);
  height: var(--_button-icon-size);
  opacity: 0.7;
  transition: opacity 0.2s;
}
.button-links li a:hover img {
  opacity: 1;
}
.button-links li.highlight a {
  background-color: var(--color-b);
}
.button-links li.highlight a img {
  filter: invert(100%);
}

.publications-list {
  line-height: 1.2;
}
.publications-list > li {
  display: grid;
  position: relative;
  grid-template-areas:
    "title title"
    "authors links"
    "periodical links";
  grid-template-columns: 1fr auto;
  row-gap: 0.2em;
  column-gap: 1em;
  margin: 0.5em 0;
}
.publications-list > li::before {
  content: "•";
  position: absolute;
  top: 0;
  left: -1em;
}
.publications-list > li .title {
  grid-area: title;
  font-weight: bold;
}
.publications-list > li .title a:not(:hover) {
  text-decoration: none;
}
.publications-list > li .authors {
  grid-area: authors;
  font-style: italic;
  font-family: Lara, serif;
}
.publications-list > li .periodical {
  grid-area: periodical;
  font-size: 0.8em;
  opacity: 0.8;
}
.publications-list ul.button-links {
  --button-gap: 0.2em;
  --button-icon-size: 16px;
  grid-area: links;
  align-items: end;
  margin: 0;
}

.main-footer {
  clear: both;
  text-align: center;
  margin: 2em 0;
  opacity: 0.7;
}
.main-footer * {
  display: inline;
}
.main-footer nav ul {
  list-style: none;
}
.main-footer nav li {
  margin-left: 0.5em;
}
.main-footer nav li a {
  text-decoration: none;
}
.main-footer nav li a:hover {
  text-decoration: underline;
}
